.text-light-grey {
  color: rgb(160, 160, 160);
}

.login-logo{
  height: 5vh;
  align-self: center;
  justify-content: center;
  margin-bottom: 20px;
}

.text-light-grey-centered {
  color: rgb(160, 160, 160);
  text-align: center;
}

.input-placeholder::placeholder {
  color: rgb(160, 160, 160);
}

.centered-text {
  text-align: center;
}

.loginButton {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: rgb(0, 0, 0);
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
  margin-right: 0.5rem;
}
