.text-light-grey {
  color: rgb(160, 160, 160);
}

.page-title {
  color: #000000;
  font-weight: normal;
  font-size: 32px;
  margin-top: 0px !important;
  margin-bottom: 10px;
}

.text-light-grey-centered {
  color: rgb(160, 160, 160);
  text-align: center;
}

.input-placeholder::placeholder {
  color: rgb(160, 160, 160);
}

.centered-text {
  text-align: center;
}

.loginButton {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: rgb(0, 0, 0);
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
  margin-right: 0.5rem;
}

.signup-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.signup-content {
  width: 100%;
  height: 100vh;
  max-width: 533px;
  text-align: center;
}

.next-button {
  font-size: 14px;
  background-color: #000000;
  width: 100%;
  height: 45px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.slide-out {
  transform: translateX(-100%);
  opacity: 0;
}

.company-info-text {
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
  display: left;
  justify-content: space-between;
  margin-bottom: 10px;
  color: rgb(156, 156, 156);
}
.user-type-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-type-option {
  width: 48%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.prev-button,
.next-button {
  font-size: 14px;
  background-color: #000000;
  width: 100%;
  height: 45px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.user-type-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-type-labels p {
  width: 48%;
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.Select-user-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.clickable-icon {
  width: 48%; /* Adjust this value to control the spacing between icons */
  max-width: 200px;
  margin: 0; /* Remove horizontal margin */
}

.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.fade-switch-enter {
  opacity: 0;
}

.fade-switch-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-switch-exit {
  opacity: 1;
}

.fade-switch-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-switch-delay-enter {
  opacity: 0;
}

.fade-switch-delay-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in 150ms; /* 150ms duration, 150ms delay */
}

.fade-switch-delay-exit {
  opacity: 1;
}

.fade-switch-delay-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.staggered-fade-enter {
  opacity: 0;
}

.staggered-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.staggered-fade-exit {
  opacity: 1;
}

.staggered-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.company-input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.info-icon-container {
  position: relative;
  margin-left: 10px;
}

.info-icon {
  color: #767676;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  width: 250px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tooltip::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.required-fields-text {
  text-align: right;
  font-size: 12px;
  margin-bottom: 10px;
  color: rgb(156, 156, 156);
}

.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.switch-container span {
  margin-left: 10px;
  transition: color 0.3s ease;
}

.group-info-text {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  text-align: left;
}

.legal-notice {
  font-size: 14px;
  color: #666;
  margin-top: -10px;
  text-align: flex;
  margin-bottom: 30px;
}

.slide-fade-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.slide-fade-enter-active {
  max-height: 1000px; /* Adjust this value based on your content */
  opacity: 1;
  transition: max-height 300ms ease-in, opacity 300ms ease-in;
}

.slide-fade-exit {
  max-height: 1000px; /* Adjust this value based on your content */
  opacity: 1;
}

.slide-fade-exit-active {
  max-height: 0;
  opacity: 0;
  transition: max-height 300ms ease-out, opacity 300ms ease-out;
  overflow: hidden;
}

.fade-immediate-enter {
  opacity: 0;
}

.fade-enter-done {
  width: 100%;
}

.fade-immediate-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-immediate-exit {
  opacity: 1;
}

.fade-immediate-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-delayed-enter {
  opacity: 0;
}

.fade-delayed-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in 300ms; /* 300ms delay added */
}

.fade-delayed-exit {
  opacity: 1;
}

.fade-delayed-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in 300ms; /* 300ms delay added */
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-container {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.signup-container-header {
  display: flex;
  justify-content: center !important;
  margin-top: 8vh;
  margin-bottom: 4vh;
  height: 10vh;
}