.clickable-icon {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--grey-1);
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  padding: 20px;
  text-align: center;
  height: 200px;
  margin: 0 20px;
  flex-direction: column;
}

.clickable-icon p {
  font-size: var(--font-size-medium);
  color: var(--grey-3);
  margin-top: 10px;
}

.clickable-icon:hover {
  border-color: var(--grey-2);
}

.clickable-icon:active {
  background-color: var(--grey-1);
  border-color: var(--color-logo-2);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.clickable-icon img {
  width: 100%;
  height: 100%;
  transition: transform 0.1s ease-in-out;
}

.clickable-icon:active img {
  transform: scale(0.95);
}
