.header {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  border-radius: 3rem;
  width: calc(100% - 1rem);
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
  box-sizing: border-box;
  height: calc(40px + 2vw);
  user-select: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 1200px;
  gap: 1rem;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logoImage {
  margin-left: -8px;
  height: 30px;
  width: auto;
}

@media (max-width: 800px) {
  .logoImage {
    height: 30px;
  }
}

.nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navLink {
  color: #4b5563;
  text-decoration: none;
  padding: 0.5rem 0.25rem;
  position: relative;
  transition: color 0.3s ease;
  font-weight: 500;
  margin-right: 20px; /* Add spacing between tabs */
}

.navLink:hover,
.navLink.active {
  color: black;
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navLink:hover::after,
.navLink.active::after {
  transform: scaleX(1);
}

.loginButton,
.signupButton {
  font-size: calc(0.8rem + 0.2vw);
  height: 40px;
  min-height: 30px;
  min-width: 100px;
  width: calc(150px + 1.4vw);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  line-height: 1;
}

.loginButton {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: rgb(0, 0, 0);
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
  margin-right: 0.5rem;
}

.signupButton {
  background-color: #000000;
  color: white;
  border-radius: 9999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.loginButton:hover {
  background-color: #eeeeee;
}

.signupButton:hover {
  background-color: #262626;
}

.mobileMenuToggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .nav {
      position: fixed;
      top: calc(40px + 2vw); /* Match the header height */
      right: 0.5rem;
      left: 0.5rem;
      width: calc(100% - 1rem);
      height: auto;
      max-height: calc(100vh - (40px + 2vw));
      background-color: #f8f8f8;
      transition: 0.3s;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
      transform: translateY(-100%);
      opacity: 0;
      visibility: hidden;
    }
  
    .nav.open {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  
    .navList {
      flex-direction: column;
    }
  
    .navList li {
      margin: 1rem 0;
    }
  
    .mobileMenuToggle {
      display: block;
    }
  
    .loginButton,
    .signupButton {
      width: 100%;
      height: 40px;
      margin-bottom: 0.5rem;
    }
  
    .loginButton {
      margin-right: 0;
    }
  }

.dropdownList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdownList li {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.dropdownList li:last-child {
  border-bottom: none;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdownMenu .navLink {
  display: block;
  padding: 10px 15px;
}

.dropdownMenu .authButtons {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
}

@media (min-width: 801px) {
  .navLink {
    margin-right: 20px; /* Add spacing between tabs for desktop */
  }
}

.desktopNav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.authButtons {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  align-items: center;
}

.buttonSpacer {
  width: 10px; /* Adjust this value to increase or decrease space between buttons */
}
