.badge {
  display: inline-flex;
  padding: var(--spacing-xs) var(--spacing-md);
  border-radius: var(--spacing-md);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  text-transform: capitalize;
  white-space: nowrap;
  font-family: var(--font-family);
}

.draft {
  background-color: var(--grey-1);
  color: var(--grey-3);
}

.sent {
  background-color: var(--blue-1);
  color: var(--blue-3);
}

.signed {
  background-color: var(--green-1);
  color: var(--green-3);
}

.active {
  background-color: var(--yellow-1);
  color: var(--yellow-4);
}

.completed {
  background-color: var(--green-1);
  color: var(--green-3);
}

.cancelled {
  background-color: var(--red-1);
  color: var(--red-3);
}

.pending {
  background-color: var(--yellow-1);
  color: var(--yellow-4);
}

.unknown {
  background-color: var(--grey-1);
  color: var(--grey-3);
} 