.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: var(--background-color);
  padding: 20px;
}

.auth-content {
  width: 100%;
  max-width: var(--auth-max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
  background-color: var(--background-div-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  position: relative;
}

.reset-password-row {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.auth-footer a{
  font-size: var(--font-size-medium);
}

.auth-form-container .form-group,
.auth-form .form-group {
  margin-bottom: 20px;
}

.reset-password-row p {
  padding: 0px;
  margin: 0px;
  font-size: var(--font-size-small);
  color: var(--grey-3);
}

.auth-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.auth-logo {
  height: 50px;
  width: auto;
  margin: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: white;
  color: var(--text-color, var(--grey-4));
  border: 1px solid var(--grey-3);
}

.social-button:hover {
  background-color: var(--grey-1);
}

.social-icon {
  font-size: var(--font-size-large);
}

.auth-title {
  font-size: var(--font-size-xxlarge);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--text-color, var(--grey-4));
}

.auth-subtitle {
  font-size: var(--font-size-medium);
  color: var(--grey-3, var(--grey-4));
  text-align: center;
}


.auth-button {
  width: 100%;
  height: 45px;
  background-color: var(--color-logo-2);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.auth-button.secondary-button {
  background-color: var(--grey-2);
  color: var(--text-color, var(--grey-4));
}

.auth-button:hover {
  background-color: var(--color-logo-1);
}


.auth-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.success-icon {
  width: 60px;
  height: 60px;
  background-color: var(--green-3);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 16px;
}

.resend-code {
  text-align: center;
  margin-top: 16px;
  font-size: var(--font-size-small);
  color: var(--grey-3);
}

.terms-agreement {
  text-align: left;
  margin-bottom: 16px;
}

.auth-footer {
  text-align: center;
  margin-top: 16px;
  font-size: var(--font-size-small);
  color: var(--grey-4);
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }
  
  .account-type-options {
    flex-direction: column;
  }
}

.auth-form {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto; /* Center the form */
}

.error-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  color: var(--red-3); /* Adjust color as needed */
  font-size: 0.875rem;
}

.error-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  animation: slideIn 0.3s ease-out;
}

.error-popup-content {
  background-color: #fff;
  border-left: 4px solid var(--red-3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  max-width: 400px;
}

.error-icon {
  color: var(--red-3);
  margin-right: 10px;
  font-size: 18px;
}

.close-button {
  background: none;
  border: none;
  color: var(--grey-3);
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--background-div-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px; /* Same as the login form */
  display: flex;
  flex-direction: column;
  align-self: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.modal-header h2 {
  font-size: var(--font-size-large);
  color: var(--text-color, var(--grey-4));
  margin-top: 0;
}

.modal-body {
  width: 100%;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.modal-footer .auth-button {
  width: 48%; /* Adjust width for two buttons */
}

.modal-footer .back-button {
  background-color: var(--grey-2);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-footer .back-button:hover {
  background-color: var(--grey-3);
}

.termsAgreed {
  font-size: var(--font-size-small);
  color: var(--grey-4);
  margin-top: 0px;
}