.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: var(--header-height);
  align-content: center;
  max-width: 100vw;
}

.container {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.logoLink {
  display: block;
  margin: 1rem;
}

.logoImage {
  width: 200px;
  min-width: 200px;
  object-fit: contain;
}

.desktopNav {
  display: flex;
  gap: 1.5rem;
}

.navLink {
  font-weight: 500;
  color: var(--grey-4);
  text-decoration: none;
  padding: 0.5rem 0;
  position: relative;
  white-space: nowrap;
  transition: all 0.2s ease;
}

.navLink:hover {
  color: var(--color-logo-2);
}

.navLink.active {
  color: var(--color-logo-2);
}

.navLink.active:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-logo-2);
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.authButtons {
  padding: 0 0.5rem;
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
}

.buttonSpacer {
  width: 0.5rem;
}

.languageSwitcher {
  display: flex;
  gap: 0.5rem;
  margin-right: 1rem;
}

.langButton {
  background: none;
  border: 1px solid var(--grey-3);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--font-size-small);
  transition: all 0.2s ease;
}

.langButton:hover {
  background-color: var(--background-div-color);
}

.activeLang {
  background-color: var(--color-logo-2);
  color: white;
  border-color: var(--color-logo-2);
}

.activeLang:hover {
  background-color: var(--color-logo-2);
}

/* Mobile menu styles */
.mobileMenuContainer {
  position: relative;
}

.menuButton {
  background-color: transparent;
  border: 1px solid var(--grey-3);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  margin-right: 1rem;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: 0.5rem;
  z-index: 100;
}

.dropdownList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdownList .navLink {
  display: block;
  padding: 0.5rem 0;
}

.dropdownList .authButtons {
  display: block;
  font-size: 1rem;
  
}

.dropdownList .navLink:hover {
  transform: none;
  transform: translateX(5px);
}

.dropdownList .authButtons {
  flex-direction: column;
  width: 100%;
}

.dropdownList .authButtons button {
  width: 100% !important;
  margin-top: 0.5rem;
}

.authButtons button {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.authButtons button:hover, .navLink:hover {
  transform: translateY(-2px);
}

