.underlined-link {
  color: #2b6cb0;
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-weight: 500;
  transition: color 0.2s;
}

.underlined-link:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #2b6cb0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.underlined-link:hover {
  color: #1a4971;
}

.underlined-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} 