.customButton {
  font-size: var(--font-size-small);
  min-height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  line-height: 1;
  border-radius: 100px;
  text-decoration: none;
  background-color: var(--background-color);
  transition: background-color 0.3s ease, font-size 0.1s ease;
  font-weight: var(--font-weight-small);
  cursor: pointer;
  font-size: var(--font-size-small);
  color: var(--text-color);
  border: 1px solid var(--grey-1);
}

.customButton:hover {
  background-color: var(--grey-1);
}

.customButton:active {
  background-color: var(--grey-1);
}