.hint-container {
  position: relative;
  display: inline-block;
  cursor: help;
  z-index: 100;
}

.hint-icon {
  color: var(--color-logo-1);
  font-size: var(--boxed-inputfield-font-size);
}

.hint-tooltip {
  visibility: hidden;
  background-color: var(--color-logo-1);
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: var(--font-size-small);
  font-family: var(--font-family-text);
  white-space: pre-wrap;
}

.hint-tooltip::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}

.hint-tooltip[data-arrow-position="bottom"]::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-top-color: var(--color-logo-1);
}

.hint-tooltip[data-arrow-position="top"]::after {
  top: -22%;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: var(--color-logo-1);
}

.hint-tooltip[data-arrow-position="left"]::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-right-color: var(--color-logo-1);
}

.hint-tooltip[data-arrow-position="right"]::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-left-color: var(--color-logo-1);
}

.hint-container:hover .hint-tooltip {
  visibility: visible;
  opacity: 1;
}

.hint-icon-danger {
  color: var(--boxed-inputfield-error-color);
}

.hint-tooltip-danger {
  background-color: var(--boxed-inputfield-error-color);
}

.hint-tooltip-danger[data-arrow-position="bottom"]::after {
  border-top-color: var(--boxed-inputfield-error-color);
}

.hint-tooltip-danger[data-arrow-position="top"]::after {
  border-bottom-color: var(--boxed-inputfield-error-color);
}

.hint-tooltip-danger[data-arrow-position="left"]::after {
  border-right-color: var(--boxed-inputfield-error-color);
}

.hint-tooltip-danger[data-arrow-position="right"]::after {
  border-left-color: var(--boxed-inputfield-error-color);
}
