:root {
  --slider-gradient: linear-gradient(90deg, var(--slider-color-1) 0%, var(--slider-color-2) 100%);
}

.slide-bar-container {
  width: 100%;
  max-width: var(--max-content-width, 533px);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slide-bar-before-label {
  position: relative;
  left: -10px;
  font-size: var(--font-size-small);
  color: var(--text-color);
}

.slide-bar-label {
  color: var(--color-border);
}

.slide-bar-content {
  display: flex;
  width: 100%;
  align-items: center;
}

.slide-bar-icon {
  font-size: var(--font-size-xlarge);
  color: var(--grey-2);
  cursor: pointer;
  user-select: none;
  color: bbbbbb;
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  opacity: 0;
  position: relative;
  top: 5px;
}

.slide-bar-icon:hover {
  color: var(--color-dot);
}

.slide-bar-icon:active {
  transform: scale(0.80);
}

.slide-bar-container:hover .slide-bar-icon {
  opacity: 1;
  top: 0;
}

.slide-bar-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slide-bar-track {
  position: relative;
  width: 100%;
  height: 15px;
  background-color: var(--color-border);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  --count-left: 0px;
}

.slide-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--fill-width, 0%);
  background: var(--slider-gradient);
  border-radius: 10px;
}

.slide-bar-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--color-dot);
  border: 1px solid var(--color-border);
  border-radius: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-3%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.slide-bar-thumb-inner {
  width: calc(var(--thumb-size) * 0.8);
  height: calc(var(--thumb-size) * 0.8);
  background-color: var(--color-dot);
  border: calc(var(--thumb-size) * 0.1) solid var(--background-div-color);
  border-radius: 50%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.slide-bar-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.slide-bar-ticks-container {
  position: relative;
  width: 100%;
  height: 20px;
}

.slide-bar-ticks {
  position: absolute;
  left: calc(var(--thumb-size)/2);
  left: calc(var(--thumb-size)/2);
  width: calc(100% - var(--thumb-size));
  height: 100%;
}

.slide-bar-tick {
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: var(--color-border);
  transform: translateX(-50%);
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
  bottom: 5px;
}

.slide-bar-container:hover .slide-bar-tick {
  opacity: 1;
  top: 10;
}

.slide-bar-tick-special {
  height: 20px;
  width: 2px;
  bottom: 0;
  background-color: var(--color-border);
  opacity: 1;
  transition: background-color 0.3s ease-in-out;
}

.slide-bar-tick-label {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-size-small);
  color: var(--color-border);
  white-space: nowrap;
  transition: color 0.3s ease-in-out;
}

.slide-bar-container:hover .slide-bar-tick-label {
  color: var(--grey-2);
}

.slide-bar-container:hover .slide-bar-tick-special {
  background-color: var(--grey-2);
}

.slide-bar-count {
  position: absolute;
  top: -40px;
  left: calc(var(--count-left) + 13.5px);
  transform: translateX(-50%);
  background-color: var(--color-dot);
  color: white;
  padding: 2px 7px;
  border-radius: 10px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}

.slide-bar-container:hover .slide-tick-label {
  top: -20px;
  color: var(--text-color);
}

.slide-bar-container:hover .slide-bar-count {
  opacity: 1;
  top: -32px;
}

@media (max-width: 500px) {
  .slide-bar-container {
    width: 100%;
  }
  
  .slide-bar-content {
    flex-direction: column;
  }
}
