.slider-container {
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.slider-track {
  height: 4px;
  background: var(--background-div-color);
  width: 100%;
  position: relative;
  border-radius: 2px;
}

.slider-track-active {
  background: var(--color-logo-2);
  height: 4px;
  position: absolute;
  top: 0;
  border-radius: 2px;
}

.slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--color-logo-2);
  position: absolute;
  top: -6px;
  transform: translateX(-50%);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.slider-thumb:hover,
.slider-thumb.active {
  transform: translateX(-50%) scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.slider-marks {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider-mark {
  position: relative;
  font-family: var(--font-family-text);
  font-size: var(--font-size-small);
  color: var(--grey-3);
  text-align: center;
}

.slider-mark::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 5px;
  background: var(--grey-3);
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-mark-active {
  color: var(--color-logo-2);
}

.slider-mark-active::before {
  background: var(--color-logo-2);
} 


.slide-bar-container {
  --thumb-size: 25px;
  --track-height: 15px;
  --transition-speed: 0.3s;
  
  width: 100%;
  max-width: var(--max-content-width, 533px);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slide-bar-before-label {
  position: relative;
  left: -10px;
  font-family: var(--font-family-text);
  font-size: var(--font-size-small);
  color: var(--text-color);
}

.slide-bar-label {
  color: var(--color-border);
}

.slide-bar-content {
  display: flex;
  width: 100%;
  align-items: center;
}

.slide-bar-icon {
  font-size: var(--font-size-xlarge);
  color: var(--grey-2);
  cursor: pointer;
  user-select: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease-in-out, opacity var(--transition-speed) ease-in-out, top var(--transition-speed) ease-in-out;
  opacity: 0;
  position: relative;
  top: 5px;
}

.slide-bar-icon:hover {
  color: var(--color-dot);
}

.slide-bar-icon:active {
  transform: scale(0.80);
}

.slide-bar-container:hover .slide-bar-icon {
  opacity: 1;
  top: 0;
}

.slide-bar-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slide-bar-track {
  position: relative;
  width: 100%;
  height: var(--track-height);
  background-color: var(--color-border);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  --count-left: 0px;
}

.slide-bar-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--color-dot);
  border: 1px solid var(--color-border);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-3%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.slide-bar-thumb-inner {
  width: 80%;
  height: 80%;
  background-color: var(--color-dot);
  border: 2px solid var(--background-div-color);
  border-radius: 50%;
}

.slide-bar-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.slide-bar-ticks-container {
  position: relative;
  width: 100%;
  height: 20px;
}

.slide-bar-ticks {
  position: absolute;
  left: calc(var(--thumb-size) / 2);
  width: calc(100% - var(--thumb-size));
  height: 100%;
}

.slide-bar-tick {
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: var(--color-border);
  transform: translateX(-50%);
  top: 0;
  opacity: 0;
  transition: opacity var(--transition-speed) ease-in-out, top var(--transition-speed) ease-in-out;
}

.slide-bar-container:hover .slide-bar-tick {
  opacity: 1;
}

.slide-bar-tick-special {
  height: 20px;
  width: 2px;
  background-color: var(--color-border);
  opacity: 1;
  transition: background-color var(--transition-speed) ease-in-out;
}

.slide-bar-tick-label {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--font-family-text);
  font-size: var(--font-size-small);
  color: var(--color-border);
  white-space: nowrap;
  transition: color var(--transition-speed) ease-in-out;
}

.slide-bar-container:hover .slide-bar-tick-label {
  color: var(--grey-2);
}

.slide-bar-container:hover .slide-bar-tick-special {
  background-color: var(--grey-2);
}

.slide-bar-count {
  position: absolute;
  top: -40px;
  left: calc(var(--count-left) + 13.5px);
  transform: translateX(-50%);
  background-color: var(--color-dot);
  color: white;
  padding: 2px 7px;
  border-radius: 10px;
  font-family: var(--font-family-text);
  font-size: var(--font-size-small);
  opacity: 0;
  transition: opacity var(--transition-speed) ease-in-out, top var(--transition-speed) ease-in-out;
}

.slide-bar-container:hover .slide-bar-count {
  opacity: 1;
  top: -32px;
}

@media (max-width: 500px) {
  .slide-bar-content {
    flex-direction: column;
  }
}
