.switch-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-label {
  font-size: var(--font-size-small);
  font-weight: 500;
  font-family: var(--font-family-text, 'Roboto', sans-serif);
  text-align: left;
}

.switch {
  position: relative;
  display: inline-block;
  max-width: 40px !important;
  height: 24px;
  min-width: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-2);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--background-div-color);
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--green-2);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--green-3);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
